## Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

MongoDB is a popular document-oriented NoSQL database system. It is designed to store, retrieve, and manage large volumes of data using a flexible schema format called JSON. 

Non Relational Databases:
The non-relational databases, or NoSQL databases, are designed to provide flexibility and scalability when storing and retrieving data.

In which scenarios it is preferred to use MongoDB over SQL databases:

* Using MongoDB's document-based data model, data can be stored in a hierarchical, self-describing format .
* MongoDB is designed to scale horizontally by distributing data across multiple servers or clusters. It can handle large amounts of data and high traffic loads, making it suitable for applications that require scaling capabilities.
* Because MongoDB stores related data together, it provides high read performance.
* MongoDB's flexible schema-less nature allows developers to quickly iterate and prototype applications.

 For intentionally we can choice either MongoDB or SQL databases depends on the specific requirements of our application.

## Q2. State and Explain the features of MongoDB.

Features of MongoDB:

* MongoDB uses document-based data model, where data is stored in flexible, self-describing documents like JSON.
* By distributing read operations among multiple replica sets, they provide read scalability.document-based data model, where data is stored in flexible, self-describing documents like JSON.
* MongoDB is designed to scale horizontally by distributing data across multiple servers or clusters.
* In addition to handling large datasets and high traffic loads, it ensures data availability and fault tolerance.
* MongoDB provides a powerful and expressive query language that supports rich queries, including filtering, sorting, aggregation, and text search.
* By distributing ead operations among multiple replica sets, MongoDB provide read scalability.
* MongoDB integrates with popular programming languages, frameworks, and tools. It provides official drivers and libraries for various programming languages.

## Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [1]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.4.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (648 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 648.9/648.9 kB 20.9 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 35.1 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.4.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pymongo

client = pymongo.MongoClient("mongodb+srv://sambit:sambit@cluster0.krqeskx.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [4]:
db= client['sambit']

In [5]:
coll_create = db['my_data']

In [6]:
data1={
    "people":["radhe","hritesh","sehezad"],
    "class":["class 1","class2","class 10","class xi"],
    "money": 1200,
    "shot name":["sam","prit","gullu"]
}

In [7]:
coll_create.insert_one(data1)
coll_create.find()

In [8]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('649bd249a9977044cfc40e17'), 'people': ['radhe', 'hritesh', 'sehezad'], 'class': ['class 1', 'class2', 'class 10', 'class xi'], 'money': 1200, 'shot name': ['sam', 'prit', 'gullu']}
{'_id': ObjectId('649bd276a9977044cfc40e18'), 'name': 'sambit', 'class': 'data science', 'company': 'niq'}
{'_id': ObjectId('64a05cfac488b384dd5a7641'), 'people': ['radhe', 'hritesh', 'sehezad'], 'class': ['class 1', 'class2', 'class 10', 'class xi'], 'money': 1200, 'shot name': ['sam', 'prit', 'gullu']}
{'_id': ObjectId('64a05df4c488b384dd5a7642'), 'name': 'sambit', 'class': 'data science', 'company': 'niq'}
{'_id': ObjectId('64a05f6fda7957ef7274cf4d'), 'people': ['radhe', 'hritesh', 'sehezad'], 'class': ['class 1', 'class2', 'class 10', 'class xi'], 'money': 1200, 'shot name': ['sam', 'prit', 'gullu']}

## Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [9]:
data={"name":"sambit",
      "class":"data science",
      "company":"niq"
}

In [10]:
coll_create.insert_one(data)

In [11]:
coll_create.find()

In [12]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('649bd249a9977044cfc40e17'), 'people': ['radhe', 'hritesh', 'sehezad'], 'class': ['class 1', 'class2', 'class 10', 'class xi'], 'money': 1200, 'shot name': ['sam', 'prit', 'gullu']}
{'_id': ObjectId('649bd276a9977044cfc40e18'), 'name': 'sambit', 'class': 'data science', 'company': 'niq'}
{'_id': ObjectId('64a05cfac488b384dd5a7641'), 'people': ['radhe', 'hritesh', 'sehezad'], 'class': ['class 1', 'class2', 'class 10', 'class xi'], 'money': 1200, 'shot name': ['sam', 'prit', 'gullu']}
{'_id': ObjectId('64a05df4c488b384dd5a7642'), 'name': 'sambit', 'class': 'data science', 'company': 'niq'}
{'_id': ObjectId('64a05f6fda7957ef7274cf4d'), 'people': ['radhe', 'hritesh', 'sehezad'], 'class': ['class 1', 'class2', 'class 10', 'class xi'], 'money': 1200, 'shot name': ['sam', 'prit', 'gullu']}
{'_id': ObjectId('64a05f72da7957ef7274cf4e'), 'name': 'sambit', 'class': 'data science', 'company': 'niq'}

In [14]:
coll_create.find_one(data)

{'_id': ObjectId('64a05f72da7957ef7274cf4e'),
 'name': 'sambit',
 'class': 'data science',
 'company': 'niq'}

## Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

In [17]:
coll_create.drop() #drop the db as I need to create the fresh one for this question

In [18]:
import pymongo

client = pymongo.MongoClient("mongodb+srv://sambit:sambit@cluster0.krqeskx.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [19]:
db= client['sambit']

In [20]:
coll_create = db['my_data']

In [21]:
data={"name":"sambit",
      "class":"data science",
      "company":"niq"
}

In [22]:
coll_create.insert_one(data)

In [23]:
coll_create.find({'name':'sambit'})

In [24]:
for i in coll_create.find({'name':'sambit'}):
    print(i)

{'_id': ObjectId('64a06103da7957ef7274cf50'), 'name': 'sambit', 'class': 'data science', 'company': 'niq'}

## Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

The sort() method in MongoDB is used to sort the results of a query in ascending or descending order based on one or more fields. It allows us to control the order in which documents are returned.

In [14]:
coll_create.drop() #drop the db as I need to create the fresh one for this question

In [15]:
import pymongo

client = pymongo.MongoClient("mongodb+srv://sambit:sambit@cluster0.krqeskx.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [16]:
db= client['sambit']

In [17]:
coll_create = db['my_data']

In [18]:
data = [
    {"name": "sambit", "age": 24},
    {"name": "suman", "age": 25},
    {"name": "sahista", "age": 35},
    {"name": "Ashis", "age": 28}
]

In [19]:
coll_create.insert_many(data)

In [20]:
coll_create.find().sort("age",1)

In [21]:
for i in coll_create.find().sort("age",1):
    print(i)

{'_id': ObjectId('64a0633ad98002bd6322823a'), 'name': 'sambit', 'age': 24}
{'_id': ObjectId('64a0633ad98002bd6322823b'), 'name': 'suman', 'age': 25}
{'_id': ObjectId('64a0633ad98002bd6322823d'), 'name': 'Ashis', 'age': 28}
{'_id': ObjectId('64a0633ad98002bd6322823c'), 'name': 'sahista', 'age': 35}

## Q7. Explain why delete_one(), delete_many(), and drop() is used.

### The delete_one() method is used to delete a single document that matches a specified filter.

In [23]:
#Example

coll_create.delete_one({"name":"sambit"})

In [24]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('64a0633ad98002bd6322823b'), 'name': 'suman', 'age': 25}
{'_id': ObjectId('64a0633ad98002bd6322823c'), 'name': 'sahista', 'age': 35}
{'_id': ObjectId('64a0633ad98002bd6322823d'), 'name': 'Ashis', 'age': 28}

### The delete_many() method is used to delete multiple documents that match a specified filter.

In [25]:
# Example

coll_create.delete_many({"age": {"$gte": 26}})

In [26]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('64a0633ad98002bd6322823b'), 'name': 'suman', 'age': 25}

### The drop() method is used to remove an entire collection from the database. It deletes all the documents within the collection and removes the collection itself.

In [27]:
# example

coll_create.drop()

In [29]:
for i in coll_create.find():
    print(i)

In [30]:
coll_create.find({'name':'sambit'})

In [31]:
for i in coll_create.find():
    print(i)